Support .ics files containing only overridden instances

Hey,

after the import of [test.ics](https://gist.github.com/posativ/46109889f39f5952f3431613f2c0e7b7) (which is an Apple iCal entry, where I've fixed the TZOFFSETFROM value), khal/ikhal exits with an `KeyError` '1466409600'. This is reproducible for an empty collection and my private calendar and contacts (birthdays).
## Steps to reproduce

``` sh
$ cat khal.conf
[calendars]

[[default]]
path = ./calendars/

[default]
default_calendar = default

[sqlite]
path = ./khal.db
$ mkdir contacts/
$ wget https://gist.githubusercontent.com/posativ/46109889f39f5952f3431613f2c0e7b7/raw/c9f4f33f92d9677fc6bf248e0da5d1416f30072a/ics
$ khal --version
khal, version 0.8.2.dev86+ng9e560c9
$ khal -c khal.conf import ics
[... succeeds ...]
$ cat calendars/463C2A3B-C48A-49EC-9134-D8DB2EDA10E7.ics
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//CALENDARSERVER.ORG//NONSGML Version 1//EN
BEGIN:VEVENT
SUMMARY:Weekly Meeting
DTSTART;TZID=Europe/Berlin:20160620T130000
DTEND;TZID=Europe/Berlin:20160620T133000
DTSTAMP:20160616T210632Z
UID:463C2A3B-C48A-49EC-9134-D8DB2EDA10E7
RECURRENCE-ID;TZID=Europe/Berlin:20160620T100000
SEQUENCE:0
CREATED:20160616T210631Z
LAST-MODIFIED:20160616T210631Z
LOCATION:Deutschland
TRANSP:OPAQUE
END:VEVENT
END:VCALENDAR
$ khal -vc khal.conf agenda
[... error ...]
```
## Traceback

``` python
debug: khal 0.8.2.dev86+ng9e560c9
debug: using the config file at khal.conf
debug: Found no or empty file `color` in ./calendars/
debug: Using config:
debug: [calendars]
debug:   [[default]]
debug:     path: ./calendars/
debug:     color: None
debug:     readonly: False
debug:     type: calendar
debug: [default]
debug:   default_calendar: default
debug:   default_command: calendar
debug:   show_all_days: False
debug:   days: 2
debug:   print_new: False
debug:   highlight_event_days: False
debug:   timedelta: 
debug: [sqlite]
debug:   path: ./khal.db
debug: [locale]
debug:   firstweekday: 0
debug:   unicode_symbols: True
debug:   default_timezone: Europe/Berlin
debug:   local_timezone: Europe/Berlin
debug:   timeformat: %H:%M
debug:   dateformat: %d.%m.
debug:   longdateformat: %d.%m.%Y
debug:   datetimeformat: %d.%m. %H:%M
debug:   longdatetimeformat: %d.%m.%Y %H:%M
debug:   weeknumbers: False
debug: [keybindings]
debug:   up: ['up', 'k']
debug:   down: ['down', 'j']
debug:   right: ['right', 'l', ' ']
debug:   left: ['left', 'h', 'backspace']
debug:   new: ['n']
debug:   delete: ['d']
debug:   view: ['enter', 'tab']
debug:   today: ['t']
debug:   save: ['meta enter']
debug:   duplicate: ['p']
debug:   export: ['e']
debug:   mark: ['v']
debug:   other: ['o']
debug:   search: ['/']
debug:   quit: ['q', 'Q']
debug: [view]
debug:   event_view_weighting: 1
debug:   event_view_always_visible: False
debug:   theme: dark
debug:   frame: False
debug:   bold_for_light_color: True
debug:   event_format: {start}-{end} {title}
debug: [highlight_days]
debug:   method: fg
debug:   color: 
debug:   multiple: 
debug:   default_color: 
debug: created version table
debug: tables for calendar default exist
Traceback (most recent call last):
  File "../bin/khal", line 9, in <module>
    load_entry_point('khal==0.8.2.dev86+ng9e560c9', 'console_scripts', 'khal')()
  File "/tmp/khal/lib/python3.4/site-packages/click-6.6-py3.4.egg/click/core.py", line 716, in __call__
    return self.main(*args, **kwargs)
  File "/tmp/khal/lib/python3.4/site-packages/click-6.6-py3.4.egg/click/core.py", line 696, in main
    rv = self.invoke(ctx)
  File "/tmp/khal/lib/python3.4/site-packages/click-6.6-py3.4.egg/click/core.py", line 1060, in invoke
    return _process_result(sub_ctx.command.invoke(sub_ctx))
  File "/tmp/khal/lib/python3.4/site-packages/click-6.6-py3.4.egg/click/core.py", line 889, in invoke
    return ctx.invoke(self.callback, **ctx.params)
  File "/tmp/khal/lib/python3.4/site-packages/click-6.6-py3.4.egg/click/core.py", line 534, in invoke
    return callback(*args, **kwargs)
  File "/tmp/khal/lib/python3.4/site-packages/click-6.6-py3.4.egg/click/decorators.py", line 17, in new_func
    return f(get_current_context(), *args, **kwargs)
  File "/tmp/khal/khal/khal/cli.py", line 305, in agenda
    bold_for_light_color=ctx.obj['conf']['view']['bold_for_light_color']
  File "/tmp/khal/khal/khal/controllers.py", line 174, in agenda
    full=full, week=week, bold_for_light_color=bold_for_light_color, **kwargs)
  File "/tmp/khal/khal/khal/controllers.py", line 112, in get_agenda
    events = sorted(collection.get_events_on(day))
  File "/tmp/khal/khal/khal/khalendar/khalendar.py", line 152, in <genexpr>
    return (self._cover_event(event) for event in events)
  File "/tmp/khal/khal/khal/khalendar/backend.py", line 483, in get_localized
    yield self.construct_event(item, href, start, end, ref, etag, calendar, dtype)
  File "/tmp/khal/khal/khal/khalendar/backend.py", line 604, in construct_event
    ref=ref,
  File "/tmp/khal/khal/khal/khalendar/event.py", line 148, in fromString
    return cls.fromVEvents(events, ref, **kwargs)
  File "/tmp/khal/khal/khal/khalendar/event.py", line 142, in fromVEvents
    return instcls(vevents, ref=ref, **kwargs)
  File "/tmp/khal/khal/khal/khalendar/event.py", line 662, in __init__
    starttz = getattr(self._vevents[self.ref]['DTSTART'].dt, 'tzinfo', None)
KeyError: '1466409600'
```

An example file from Apple iCloud (send via mail): https://gist.github.com/posativ/2aab0c7ccd611a9c2e359893af88d022 (private data removed).

The intention: updating a recurring event (weekly meeting on monday at 10:00) changed this week (20. June) to 13:00.

I believe we talk about this on IRC, but I forgot most of it.

The problem here is, that this event describes only *one occurrence* of a repeating event, but the *original* event was already in the database, right?

If so, one solution would be to check when importing if the imported .ics file contains only single occurrences and ask the user if they want to update (if an event with the same UID already exists).

at the very least, we should for now produce a better error message

this appears to also effect me, but this was the *first and only* event sent out by outlook365:

```
BEGIN:VCALENDAR
METHOD:REQUEST
PRODID:Microsoft Exchange Server 2010
VERSION:2.0
BEGIN:VTIMEZONE
TZID:Eastern Standard Time
BEGIN:STANDARD
DTSTART:16010101T020000
TZOFFSETFROM:-0400
TZOFFSETTO:-0500
RRULE:FREQ=YEARLY;INTERVAL=1;BYDAY=1SU;BYMONTH=11
END:STANDARD
BEGIN:DAYLIGHT
DTSTART:16010101T020000
TZOFFSETFROM:-0500
TZOFFSETTO:-0400
RRULE:FREQ=YEARLY;INTERVAL=1;BYDAY=2SU;BYMONTH=3
END:DAYLIGHT
END:VTIMEZONE
BEGIN:VEVENT
ORGANIZER;CN=Fnord:MAILTO:fnord@example.org
DESCRIPTION;LANGUAGE=en-US:Do some things
UID:59CE75A3-79DC-4577-9486-D579141C88F8
RECURRENCE-ID;TZID=Eastern Standard Time:20170124T120000
SUMMARY;LANGUAGE=en-US:Do some things
DTSTART;TZID=Eastern Standard Time:20170124T120000
DTEND;TZID=Eastern Standard Time:20170124T123000
CLASS:PUBLIC
PRIORITY:5
DTSTAMP:20170119T213400Z
TRANSP:OPAQUE
STATUS:CONFIRMED
SEQUENCE:2
LOCATION;LANGUAGE=en-US:My mind
X-MICROSOFT-CDO-APPT-SEQUENCE:2
X-MICROSOFT-CDO-OWNERAPPTID:1111111111
X-MICROSOFT-CDO-BUSYSTATUS:TENTATIVE
X-MICROSOFT-CDO-INTENDEDSTATUS:BUSY
X-MICROSOFT-CDO-ALLDAYEVENT:FALSE
X-MICROSOFT-CDO-IMPORTANCE:1
X-MICROSOFT-CDO-INSTTYPE:3
X-MICROSOFT-DISALLOW-COUNTER:FALSE
BEGIN:VALARM
DESCRIPTION:REMINDER
TRIGGER;RELATED=START:-PT15M
ACTION:DISPLAY
END:VALARM
END:VEVENT
END:VCALENDAR```

(I was getting a different error message with it but I've since upgraded to the master branch which seems to produce the same error message. It was still `_vevents` not containing the event, just on some other line.)

I'm also seeing this with an event coming from outlook365.

```
Traceback (most recent call last):
  File "/usr/local/bin/khal", line 11, in <module>
    load_entry_point('khal==0.9.1', 'console_scripts', 'khal')()
  File "/usr/local/lib/python3.5/dist-packages/click-6.6-py3.5.egg/click/core.py", line 716, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/click-6.6-py3.5.egg/click/core.py", line 696, in main
    rv = self.invoke(ctx)
  File "/usr/local/lib/python3.5/dist-packages/click-6.6-py3.5.egg/click/core.py", line 1037, in invoke
    return Command.invoke(self, ctx)
  File "/usr/local/lib/python3.5/dist-packages/click-6.6-py3.5.egg/click/core.py", line 889, in invoke
    return ctx.invoke(self.callback, **ctx.params)
  File "/usr/local/lib/python3.5/dist-packages/click-6.6-py3.5.egg/click/core.py", line 534, in invoke
    return callback(*args, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/click-6.6-py3.5.egg/click/decorators.py", line 17, in new_func
    return f(get_current_context(), *args, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/cli.py", line 250, in cli
    ctx.invoke(cli.commands[command])
  File "/usr/local/lib/python3.5/dist-packages/click-6.6-py3.5.egg/click/core.py", line 534, in invoke
    return callback(*args, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/click-6.6-py3.5.egg/click/decorators.py", line 17, in new_func
    return f(get_current_context(), *args, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/cli.py", line 286, in calendar
    env={"calendars": ctx.obj['conf']['calendars']}
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/controllers.py", line 105, in calendar
    **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/controllers.py", line 186, in get_list_from_str
    end=day_end, notstarted=notstarted, env=env, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/controllers.py", line 228, in get_list
    events = sorted(collection.get_localized(start_local, end_local))
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/khalendar/khalendar.py", line 147, in <genexpr>
    return (self._cover_event(event) for event in events)
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/khalendar/backend.py", line 485, in get_localized
    yield self.construct_event(item, href, start, end, ref, etag, calendar, dtype)
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/khalendar/backend.py", line 564, in construct_event
    ref=ref,
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/khalendar/event.py", line 150, in fromString
    return cls.fromVEvents(events, ref, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/khalendar/event.py", line 144, in fromVEvents
    return instcls(vevents, ref=ref, **kwargs)
  File "/usr/local/lib/python3.5/dist-packages/khal-0.9.1-py3.5.egg/khal/khalendar/event.py", line 615, in __init__
    starttz = getattr(self._vevents[self.ref]['DTSTART'].dt, 'tzinfo', None)
KeyError: '1485505800'
```

Version: v0.9.1-0-ga10f958


If I add the following (in event.py):
`615         print(self._vevents.keys())`
`616         print(self._vevents['PROTO']['DTSTART'].dt.tzinfo)`

I get:
`dict_keys(['PROTO'])`
`W. Europe Standard Time`




@trhd from what you post I cannot determine if this is the same bug as above, or if it is another one.
Could you perhaps post the event? Feel free to remove all private details, but leave the structure intact.

Let's hope I didn't break it...

```
BEGIN:VCALENDAR
METHOD:REQUEST
PRODID:Microsoft Exchange Server 2010
VERSION:2.0
BEGIN:VTIMEZONE
TZID:W. Europe Standard Time
BEGIN:STANDARD
DTSTART:16010101T030000
TZOFFSETFROM:+0200
TZOFFSETTO:+0100
RRULE:FREQ=YEARLY;INTERVAL=1;BYDAY=-1SU;BYMONTH=10
END:STANDARD
BEGIN:DAYLIGHT
DTSTART:16010101T020000
TZOFFSETFROM:+0100
TZOFFSETTO:+0200
RRULE:FREQ=YEARLY;INTERVAL=1;BYDAY=-1SU;BYMONTH=3
END:DAYLIGHT
END:VTIMEZONE
BEGIN:VEVENT
ORGANIZER;CN=First Last:MAILTO:first.last@invalid
ATTENDEE;ROLE=REQ-PARTICIPANT;PARTSTAT=NEEDS-ACTION;RSVP=TRUE;CN=First2 Last2
 mvall:MAILTO:first2.last2@invalid
DESCRIPTION;LANGUAGE=en-US:Foobar\n\n\n
UID:1234
RECURRENCE-ID;TZID=W. Europe Standard Time:20170127T093000
SUMMARY;LANGUAGE=en-US:Foobar Barfoo
DTSTART;TZID=W. Europe Standard Time:20170127T080000
DTEND;TZID=W. Europe Standard Time:20170127T100000
CLASS:PUBLIC
PRIORITY:5
DTSTAMP:20170126T095157Z
TRANSP:OPAQUE
STATUS:CONFIRMED
SEQUENCE:78
LOCATION;LANGUAGE=en-US:My happy place
X-MICROSOFT-CDO-APPT-SEQUENCE:00
X-MICROSOFT-CDO-OWNERAPPTID:1234567890
X-MICROSOFT-CDO-BUSYSTATUS:TENTATIVE
X-MICROSOFT-CDO-INTENDEDSTATUS:BUSY
X-MICROSOFT-CDO-ALLDAYEVENT:FALSE
X-MICROSOFT-CDO-IMPORTANCE:1
X-MICROSOFT-CDO-INSTTYPE:3
X-MICROSOFT-DISALLOW-COUNTER:FALSE
BEGIN:VALARM
DESCRIPTION:REMINDER
TRIGGER;RELATED=START:-PT15M
ACTION:DISPLAY
END:VALARM
END:VEVENT
END:VCALENDAR
```

note to self, check https://github.com/pimutils/khal/pull/376

Turns out, this behavior is allowed, see [RFC4791 Section 4.1](https://tools.ietf.org/html/rfc4791#section-4.1)
  

>   This ensures that all components in a recurrence "set" are
>    contained in the same calendar object resource.  It is possible for a
>    calendar object resource to just contain components that represent
>    "overridden" instances (ones that modify the behavior of a regular
>    instance, and thus include a RECURRENCE-ID property) without also
>    including the "master" recurring component (the one that defines the
>    recurrence "set" and does not contain any RECURRENCE-ID property).
> 

@trhd Thanks, you didn't break it, I'm going to edit your response a bit to remove some of the useless stuff.

Sounds good.

All the examples in here *should* be fixed with https://github.com/pimutils/khal/pull/664, see https://github.com/pimutils/khal/issues/668 for what's left.